<div class="new-post-button-parent">
  <span>Can not find anyone? Try to </span>
  <%= link_to 'Create new post',
              new_post_path(branch: branch),
              class: 'new-post-button'%>
</div>